.modal-dialog
{
    margin-top:50px !important;
}

.navbar-brand{
    padding: 0;
}

.main-text
{
    position: absolute;
    top: 20px;
    width: 96.66666666666666%;
    color: sandybrown;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}

.text-slider
{
    color: sandybrown;
    border-radius: 30px !important;
    background:white !important;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}

.img-slide {
    margin: 0 auto !important;
    display: block;
    text-align: center !important;
    max-height: 340px !important;
    background-size: cover !important;
    /*max-width: 1200px !important;*/
    width:100% !important;
    object-fit:cover !important; 
}
*/
.topheader .homepic {
    margin: 0 auto;
    
    min-width: 100%;
    max-height: 200px !important ;
    background-size: cover;
    max-width: 100% !important;
    width:100% !important;
    object-fit:cover !important; 
    
}

.topheader .col-xs-10 {
        margin-top: -10px;
     
        
}

/*.topheader .logos {
    box-shadow: 1px 1px 12px #555;
    display: block;
    background: rgba(255, 227, 246, 0.94) !important;
    margin-top: 23px;
    margin-left: 8px;
    border-radius: 40px;
    max-width:250px !important;
}

.topheader .logos:hover {
    
    
    display: block;
    background: rgb(255, 124, 216) !important;
    margin-top: 23px;
    margin-left: 8px;
    border-radius: 40px;
    max-width:250px !important;
}*/


/*.slide {
    max-width: 782px !important;
    max-height: 340px !important;
} */
.img-home {
    border-radius:50px !important;
    object-fit:cover;
    max-height: 90px;
    max-width: 90px;
   
}

.img-home:hover {
    
    object-fit:cover;
    border-radius:0px !important;
   
}

.link-home {
    display: block;
   
    background:white !important;
    padding: 10px;
   
    border-radius: 30px !important;
    color: deepskyblue !important;
    font-weight: bold;
   
}
.link-home:hover {

   
    background:sandybrown !important;
    
   
}

*/
/*.modal-dialog {width:600px;}
.thumbnail {margin-bottom:6px;} */

 #slider-text{
  padding-top: 40px;
  display: block;
}
#slider-text .col-md-6{
  overflow: hidden;
}

#slider-text h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px auto;
  padding-left: 40px;
}
#slider-text h2::after{
  border-top: 2px solid #c7c7c7;
  content: "";
  position: absolute;
  bottom: 35px;
  width: 100%;
  }

#itemslider h4{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 10px auto 3px;
}
#itemslider h5{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin: 3px auto 2px;
}
#itemslider h6{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;;
  font-size: 10px;
  margin: 2px auto 5px;
}
.badge {
  background: #b20c0c;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 31px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid #FFF;
  box-shadow: 0 0 0 1px #b20c0c;
  top: 5px;
  right: 25%;
}
#slider-control img{
  padding-top: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 992px){
#slider-control img {
  padding-top: 70px;
  margin: 0 auto;
}
}

.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3,
  .carousel-showmanymoveone .carousel-inner .cloneditem-4,
  .carousel-showmanymoveone .carousel-inner .cloneditem-5,
  .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
    transform: translate3d(16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
    transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
        .img-slide {
        margin: 0 auto !important;
        display: block;
        text-align: center !important;
        height: 150px !important;
        background-size: cover !important;
        /*max-width: 1200px !important;*/
        width:100% !important;
        object-fit:cover !important; 
        }
          .little-fb {
            display:block !important;
        }

        .big-fb {
            display:none !important;
        }
        
        .big-pres {
            display:none;
        }
        
        .big-past {
            display:none;
        }
        
        .middle-pres {
            display:none;
        }
        
        .middle-past {
            display:none;
        }
        
        .little-pres {
            display:block;
        }
        
        .little-past {
            display:block;
        }
        
         .meteo {
        width:100% !important;
        height:250px !important;
        text-align: center !important;

        }
        .carousel-caption {
            display:block !important;
        }
        
        .text-slider
        {
            display:none !important;
        }
        .minilogo 
        {
            display:block !important;
        }
        .minilogoscroll
        {
            display:block !important;
        }
        .minilogoscrollnone
        {
            display:block !important;
        }
        
        .projector
        {
            display:none;
        }
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        
        
        .img-slide {
        margin: 0 auto !important;
        display: block;
        text-align: center !important;
        height: 200px !important;
        background-size: cover !important;
        /*max-width: 1200px !important;*/
        width:100% !important;
        object-fit:cover !important; 
        }
        
        .big-pres {
            display:none;
        }
        
        .big-past {
            display:none;
        }
        
        .middle-pres {
            display:block;
        }
        
        .middle-past {
            display:block;
        }
        
        .little-pres {
            display:none;
        }
        
        .little-past {
            display:none;
        }
        
         .meteo {
        width:100% !important;
        height:310px !important;
        text-align: center !important;

        }
        .text-slider
        {
            display:block !important;
        }
        .minilogo 
        {
            display:none !important;
        }
        
        .projector
        {
            display:block;
        }
        
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        
        
        .img-slide {
        margin: 0 auto !important;
        display: block;
        text-align: center !important;
        height: 240px !important;
        background-size: cover !important;
        /*max-width: 1200px !important;*/
        width:100% !important;
        object-fit:cover !important; 
        }
       
        .big-pres {
            display:block;
        }
        
        .big-past {
            display:block;
        }
        
        .middle-pres {
            display:none;
        }
        
        .middle-past {
            display:none;
        }
        
        .little-pres {
            display:none;
        }
        
        .little-past {
            display:none;
        }
       
        .meteo {
        width:100% !important;
        height:370px !important;
        text-align: center !important;

        }
        nav ul{
            
        text-align:center;
            float: none;
        }
        nav li{
            margin-left:15px;
            float:none;
        display: inline-block;
        font-size:12px;
        }
        navbar-brand{
        float: none;
        position:absolute;
}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        
        .img-slide {
        margin: 0 auto !important;
        display: block;
        text-align: center !important;
        height: 290px !important;
        background-size: cover !important;
        /*max-width: 1200px !important;*/
        width:100% !important;
        object-fit:cover !important; 
        }
        
         .little-fb {
            display:none !important;
        }

        .big-fb {
            display:block !important;
        }
        
         .meteo {
        width:100% !important;
        height:250px !important;
        text-align: center !important;

        }
        .big-pres {
            display:none;
        }
        
        .big-past {
            display:none;
        }
        
        .middle-pres {
            display:block;
        }
        
        .middle-past {
            display:block;
        }
        
        .little-pres {
            display:none;
        }
        
        .little-past {
            display:none;
        }
               nav ul{
            
        text-align:center;
            float: none;
        }
        nav li{
            margin-left:10px;
            float:none;
        display: inline-block;
        font-size:15px;
        }
        navbar-brand{
        float: none;
        position:absolute;
}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1280px) {
        
        
        .img-slide {
        margin: 0 auto !important;
        display: block;
        text-align: center !important;
        height: 340px !important;
        background-size: cover !important;
        /*max-width: 1200px !important;*/
        width:100% !important;
        object-fit:cover !important; 
        }
        
        
        .little-fb {
            display:none !important;
        }
       
        .big-fb {
            display:block !important;
        }
        
        .big-pres {
            display:block;
        }
        
        .big-past {
            display:block;
        }
        
        .middle-pres {
            display:none;
        }
        
        .middle-past {
            display:none;
        }
        
        .little-pres {
            display:none;
        }
        
        .little-past {
            display:none;
        }
               nav ul{
            
        text-align:center;
            float: none;
        }
        nav li{
            margin-left:28px;
            float:none;
        display: inline-block;
        font-size:18px;
        }
        navbar-brand{
        float: none;
        position:absolute;
}
        
    }

/* Large Devices, Wide Screens */
    @media only screen and (min-width : 1900px) {
        
        
        .img-slide {
        margin: 0 auto !important;
        display: block;
        text-align: center !important;
        height: 340px !important;
        background-size: cover !important;
        /*max-width: 1200px !important;*/
        width:100% !important;
        object-fit:cover !important; 
        }
        
        
        .little-fb {
            display:none !important;
        }
       
        .big-fb {
            display:block !important;
        }
        
        .big-pres {
            display:block;
        }
        
        .big-past {
            display:block;
        }
        
        .middle-pres {
            display:none;
        }
        
        .middle-past {
            display:none;
        }
        
        .little-pres {
            display:none;
        }
        
        .little-past {
            display:none;
        }
        nav ul{        
            text-align:center;
            float: none;
        }
        nav li{
            margin-left:100px;
            float:none;
            display: inline-block;
            font-size:17px;
        }
        navbar-brand{
            float: none;
            position:absolute;
        }
        
    }

/* Large Devices, Wide Screens */
    @media only screen and (min-width : 2330px) {
        
        
        .img-slide {
        margin: 0 auto !important;
        display: block;
        text-align: center !important;
        height: 340px !important;
        background-size: cover !important;
        /*max-width: 1200px !important;*/
        width:100% !important;
        object-fit:cover !important; 
        }
        
        
        .little-fb {
            display:none !important;
        }
       
        .big-fb {
            display:block !important;
        }
        
        .big-pres {
            display:block;
        }
        
        .big-past {
            display:block;
        }
        
        .middle-pres {
            display:none;
        }
        
        .middle-past {
            display:none;
        }
        
        .little-pres {
            display:none;
        }
        
        .little-past {
            display:none;
        }
        nav ul{        
            text-align:center;
            float: none;
        }
        nav li{
            margin-left:195px;
            float:none;
            display: inline-block;
            font-size:20px;
        }
        navbar-brand{
            float: none;
            position:absolute;
        }
        
    }
/* Large Devices, Wide Screens */
    @media only screen and (min-width : 2880px) {
        
        
        .img-slide {
        margin: 0 auto !important;
        display: block;
        text-align: center !important;
        height: 340px !important;
        background-size: cover !important;
        /*max-width: 1200px !important;*/
        width:100% !important;
        object-fit:cover !important; 
        }
        
        
        .little-fb {
            display:none !important;
        }
       
        .big-fb {
            display:block !important;
        }
        
        .big-pres {
            display:block;
        }
        
        .big-past {
            display:block;
        }
        
        .middle-pres {
            display:none;
        }
        
        .middle-past {
            display:none;
        }
        
        .little-pres {
            display:none;
        }
        
        .little-past {
            display:none;
        }
        nav ul{        
            text-align:center;
            float: none;
        }
        nav li{
            margin-left:195px;
            float:none;
            display: inline-block;
            font-size:20px;
        }
        navbar-brand{
            float: none;
            position:absolute;
        }
        
    }

.panel-body {
    width:100%;
    
}

.meteo {
    width:100% !important;
    text-align: center !important;
    
}
.fb-page {
     text-align: center !important;
    
}

.fb-place {
     text-align: center !important;
    
}



.little-fb {
    width:100%;
}


.big-fb {
    width:100%;
}
