.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color:azure;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}

.container .img-responsive {
    margin: 0 auto;
    display: block;
    max-height: 360px ;
    background-size: cover;
    max-width: 782px ;
    width:100%;
    object-fit:cover; 
}
.slide {
    max-width: 782px !important;
    max-height: 360px !important;
}
.img-home {
    border-radius:50px !important;
    object-fit:cover;
    max-height: 180px;
    max-width: 180px;
   
}

.img-home:hover {
    
    object-fit:cover;
    border-radius:0px !important;
   
}

.link-home {
    display: block;
   
    background:white !important;
    padding: 10px;
   
    border-radius: 30px !important;
    color: deepskyblue !important;
    font-weight: bold;
   
}
.modal-dialog {width:600px;}
.thumbnail {margin-bottom:6px;}

