.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}

.container .img-slide {
    margin: 0 auto;
    display: block;
    max-height: 340px ;
    background-size: cover;
    max-width: 1200px ;
    width:100%;
    object-fit:cover; 
}
*/
.topheader .homepic {
    margin: 0 auto;
    
    min-width: 100%;
    max-height: 200px !important ;
    background-size: cover;
    max-width: 100% !important;
    width:100% !important;
    object-fit:cover !important; 
    
}

.topheader .col-xs-10 {
        margin-top: -10px;
     
        
}

.topheader .logos {
    box-shadow: 1px 1px 12px #555;
    display: block;
    background: rgba(255, 227, 246, 0.94) !important;
    margin-top: 23px;
    margin-left: 8px;
    border-radius: 40px;
    max-width:250px !important;
}

.topheader .logos:hover {
    
    
    display: block;
    background: rgb(255, 124, 216) !important;
    margin-top: 23px;
    margin-left: 8px;
    border-radius: 40px;
    max-width:250px !important;
}


/*.slide {
    max-width: 782px !important;
    max-height: 340px !important;
} */
.img-home {
    border-radius:50px !important;
    object-fit:cover;
    max-height: 90px;
    max-width: 90px;
   
}

.img-home:hover {
    
    object-fit:cover;
    border-radius:0px !important;
   
}

.link-home {
    display: block;
   
    background:white !important;
    padding: 10px;
   
    border-radius: 30px !important;
    color: deepskyblue !important;
    font-weight: bold;
   
}*/
/*.modal-dialog {width:600px;}
 @media (min-width: 768px) and (max-width: 991px) {
      #myCarousel .carousel-inner .item .item-item:last-child {
        display: none;
      }
   }
@media (max-width: 768px) {
     #mymyCarousel .carousel-inner {
      height: 320px;
    }
 }
.carousel-inner {
  overflow-y: hidden;
}
.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev    { left: -25%; }
.carousel-control        { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
.carousel-inner .item-item {
  padding:0!important;
.thumbnail {margin-bottom:6px;} */
